/* PRELIMINARY CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #b53f9b;
    --color-danger: #e32d2d;
    --color--success: #84f74e;
    --color-warning: #f7f74e;
    
    --color-white: #f9f6f6;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #0e0e0e;
    
    --color-bg: #b07aed;
    --color-bg1: #763FB5;
    --color-bg2: #9C3FB5; 

    --container-width-lg: 84%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-primary);
    background: var(--color-white);
    font-family: 'Maven Pro', sans-serif;
    line-height: 1.7;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

li {
    list-style: none;
}

h1, 
h2, 
h3, 
h4, 
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

img {
    width: 100%;
    object-fit: cover;
}

section {
    padding: 4rem 0;
}

section h2 {
    margin-bottom: 2rem;
    text-align: center;
    color: var(--color-black);
    font-family: 'Lexend Tera', sans-serif;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    width: 12rem;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    border-radius: 2rem; 
    background: var(--color-white);
    color: var(--color-black);
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    width: 12rem;
    background: var(--color-danger);
    color: var(--color-white);
    font-weight: 500;
}

/* NAV */
nav {   
    position: fixed;
    top: 0;
    z-index: 12;
    width: 100vw;
    height: 6rem;
    background: var(--color-black);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    width: 7rem;
}

.nav__links {
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-bottom: 2rem;
}

.nav__links ul {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    font-size: 1.6rem;
}

.nav__links ul a {
    transition: var(--transition);
}

.nav__links ul a:hover {
    color: white;
}

.nav__links .search {
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.nav__links .search input { 
    width: 20rem;
    height: 1.8rem;
    padding-left: 1rem;
    border-radius: 3rem;
}

nav button {
    display: none;
}

/* BANNER */
.banners {
    position: relative;
    top: calc(6rem + 0.8rem);
    margin: 0 auto;
    overflow-x: hidden;
}

/* HERO */
.hero__container {
    position: relative;
    top: calc(6rem + 0.8rem);
    display: grid;
    grid-template-columns: 15% 80%;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-top: 2rem;  
    color: black;
}

.category h3 {
    font-size: 1.6rem;
    font-weight: 900;
    font-family: 'Lexend Tera', sans-serif;
}

.category ul {
    font-family: 'Lexend Tera', sans-serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.new__kicks {
    display: flex;
    flex-direction: row;
}

.new_kicks > p {
    font-weight: bold;
    font-size: 1rem;
}

.new_kicks_deals {
    display: flex;
    gap: 1rem;
}

.new_kicks_deals article {
    padding: 1rem 2rem;
    border: 0.5rem solid transparent;
    transition: var(--transition);
}

.new_kicks_deals article:hover {
    border-color: var(--color-primary);
}

.new_kicks_deals article .product__name {
    display: flex;
    justify-content: space-between;
}

.product__name a p {
    font-family: 'Lexend Tera', sans-serif;
    color: var(--color-black);
}

.cart__design {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6rem;
    width: 1.6rem;
    border: 1px solid transparent;
    border-radius: 50%;
    color: white;
    background-color: var(--color-primary);
    transition: var(--transition);
}

.cart__design i {
    margin: 0;
    font-size: 0.7rem;
}

.cart__design:hover {
    background: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
}

/* SALE */
.sale {
    margin-top: 6rem;
    background-color: var(--color-bg);
}

.sale__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.sale__container article {
    padding: 2rem 3rem;
    border: 0.2rem solid var(--color-white);
}

.product__image a img {
    border: 0.2rem solid transparent;
    transition: var(--transition);
}

.product__image a img:hover {
    border-color: var(--color-white);
}

.brand p {
    color: white;
    font-size: 1.2rem;
    font-family: 'Lexend Tera', sans-serif;
}

.brand img {
    width: 4rem;
}

.bottom__details {
    position: relative;
    bottom: -1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom__details .pricing {
    display: flex;
    gap: 1.4rem;
    align-items: center;
}

.pricing .price__old {
    text-decoration: line-through;
}

.pricing .price__discounted {
    color: var(--color-black);
    font-size: 1.4rem;
    font-weight: 900;
}

.bottom__details .cart__design {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.6rem;
    width: 2.6rem;
    border: 1px solid transparent;
    border-radius: 50%;
    color: white;
    background-color: var(--color-primary);
    transition: var(--transition);
}

.bottom__details .cart__design i {
    margin: 0;
    font-size: 1.4rem;
}

.bottom__details .cart__design:hover {
    background: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
}

/* COLLECTIONS */
.collections__container {
    display: grid;
    grid-template-columns: 10% 40% 40%;
    justify-content: space-between;
    align-items: center;
}

.soon {
    margin-bottom: -4rem;
}

.soon h1 {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 4rem;
    transform: rotate(270deg);
}

.collections__title h3 {
    font-size: 1rem;
    letter-spacing: 8px;
    padding-bottom: 0.2rem;
}

.collections__jacket {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
}

/* NEWSLETTER */
.newsletter {
    background: linear-gradient(to right, #763FB5, black);
}

.newsletter__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsletter__form .details {
    padding-bottom: 1rem;;
}

.newsletter__form h4 {
    text-align: center;
    font-family: 'Lexend Tera', sans-serif;
    font-size: 2rem;
}

.newsletter__form .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 1.2rem;
    width: 70vw;
}

.form input[type='email'] {
    padding: 0.4rem;
    height: 2rem;
    font-family: 'Lexend Tera', sans-serif;
    color: var(--color-primary);
}

.form input[type='submit'] {
    padding: 0.4rem;
    height: 2rem;
    width: 8%;
    font-family: 'Lexend Tera', sans-serif;
    border: 1px solid transparent;
    transition: var(--transition);
    cursor: pointer;
}

.form input[type='submit']:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
    background-color: transparent;
}

/* FOOTER */
footer {
    background: black;
    padding: 2rem 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__container a {
    transition: var(--transition);
}

.footer__container a:hover {
    color: var(--color-white);
}
.logo img{
    width: 9rem;
}

.footer__container h3 {
    color: white;
    padding-bottom: .8rem;
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.about {
    padding-top: 3.4rem;
}

.about__us, 
.contact__us {
    padding-bottom: .4rem;;
}

.socials ul {
    display: flex;
}

.socials ul li {
    padding-right: 1.2rem;
}
























